<div class="nav-menu fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-light navbar-expand-lg">
                    <a class="navbar-brand text-black" href="home/index">LIVE STREAM</a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"> <a id="nav-home" class="nav-link text-black" href="/home/index">HOME <span class="sr-only">(current)</span></a> </li>
                            <li class="nav-item"> <a id="nav-rooms"class="nav-link text-black active" href="/rooms/index">ROOMS</a> </li>
                            <li class="nav-item"> <a id="nav-leaderboard" class="nav-link text-black" href="/leaderboard/index">LEADERBOARDS</a> </li>
                            <li class="nav-item"> <a id="nav-store" class="nav-link text-black" href="/store/index">STORE</a> </li>
                            <li class="nav-item"> <a id="nav-forum" class="nav-link text-black" href="#">FORUM</a> </li>
                            <li class="nav-item"><a id="btnLogin" href="/login/index" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3 btn-login">Login</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<header id="home">
    <div class="container mt-5">
        <h3 class="text-black">Live Stream Chat Rooms 1264</h3>
        <p class="tagline"><a href="#">Start your own video chat room</a> on Live Stream</p>
    </div>
</header>

<div class="text-center">
    <input class="input-search-main" type="text" placeholder="Search..">
</div>

<div class="section light-bg" style="margin-top:75px">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#allrooms">All Rooms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#categories">Categories</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="allrooms">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 categories-box-outer">
                    <div class="categories-box">
                        <img style="width:100%" src="~/Resources/img/live-1.jpg" />
                        <p class="user-box">Fadi</p>
                        <p class="user-box"><i class="ti-video-camera"></i> 25   <i class="ti-user"></i> 42</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 categories-box-outer">
                    <div class="categories-box">
                        <img style="width:100%" src="~/Resources/img/live-2.jpg" />
                        <p class="user-box">Diah</p>
                        <p class="user-box"><i class="ti-video-camera"></i> 25   <i class="ti-user"></i> 42</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 categories-box-outer">
                    <div class="categories-box">
                        <img style="width:100%" src="~/Resources/img/live-3.jpg" />
                        <p class="user-box">Rina</p>
                        <p class="user-box"><i class="ti-video-camera"></i> 25   <i class="ti-user"></i> 42</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 categories-box-outer">
                    <div class="categories-box">
                        <img style="width:100%" src="~/Resources/img/live-4.jpg" />
                        <p class="user-box">Aisyah</p>
                        <p class="user-box"><i class="ti-video-camera"></i> 25   <i class="ti-user"></i> 42</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 categories-box-outer">
                    <div class="categories-box">
                        <img style="width:100%" src="~/Resources/img/live-5.jpg" />
                        <p class="user-box">Anna</p>
                        <p class="user-box"><i class="ti-video-camera"></i> 25   <i class="ti-user"></i> 42</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 categories-box-outer">
                    <div class="categories-box">
                        <img style="width:100%" src="~/Resources/img/live-6.jpeg" />
                        <p class="user-box">Kiki</p>
                        <p class="user-box"><i class="ti-video-camera"></i> 25   <i class="ti-user"></i> 42</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 categories-box-outer">
                    <div class="categories-box">
                        <img style="width:100%" src="~/Resources/img/live-10.jpeg" />
                        <p class="user-box">Pevita</p>
                        <p class="user-box"><i class="ti-video-camera"></i> 25   <i class="ti-user"></i> 42</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 categories-box-outer">
                    <div class="categories-box">
                        <img style="width:100%" src="~/Resources/img/live-11.jpg" />
                        <p class="user-box">Wulan</p>
                        <p class="user-box"><i class="ti-video-camera"></i> 25   <i class="ti-user"></i> 42</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 categories-box-outer">
                    <div class="categories-box">
                        <img style="width:100%" src="~/Resources/img/live-12.jpg" />
                        <p class="user-box">Asmirandah</p>
                        <p class="user-box"><i class="ti-video-camera"></i> 25   <i class="ti-user"></i> 42</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 categories-box-outer">
                    <div class="categories-box">
                        <img style="width:100%" src="~/Resources/img/live-13.jpg" />
                        <p class="user-box">Raisa</p>
                        <p class="user-box"><i class="ti-video-camera"></i> 25   <i class="ti-user"></i> 42</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 categories-box-outer">
                    <div class="categories-box">
                        <img style="width:100%" src="~/Resources/img/live-14.jpg" />
                        <p class="user-box">Ariel</p>
                        <p class="user-box"><i class="ti-video-camera"></i> 25   <i class="ti-user"></i> 42</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 categories-box-outer">
                    <div class="categories-box">
                        <img style="width:100%" src="~/Resources/img/live-15.jpg" />
                        <p class="user-box">Citra</p>
                        <p class="user-box"><i class="ti-video-camera"></i> 25   <i class="ti-user"></i> 42</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 categories-box-outer">
                    <div class="categories-box">
                        <img style="width:100%" src="~/Resources/img/live-16.jpg" />
                        <p class="user-box">Chelsea</p>
                        <p class="user-box"><i class="ti-video-camera"></i> 25   <i class="ti-user"></i> 42</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 categories-box-outer">
                    <div class="categories-box">
                        <img style="width:100%" src="~/Resources/img/live-17.jpg" />
                        <p class="user-box">Tatjana</p>
                        <p class="user-box"><i class="ti-video-camera"></i> 25   <i class="ti-user"></i> 42</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="categories">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 categories-box-outer">
                    <div class="categories-box">
                        <img src="~/Resources/img/icon_category_popular.png" />
                        <p>Popular</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 categories-box-outer">
                    <div class="categories-box">
                        <img src="~/Resources/img/icon_category_favorite.png" />
                        <p>Most Favorited</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 categories-box-outer">
                    <div class="categories-box">
                        <img src="~/Resources/img/icon_category_gifted.png" />
                        <p>Most Gifted</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 categories-box-outer">
                    <div class="categories-box">
                        <img src="~/Resources/img/icon_category_100.png" />
                        <p>Last 100</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 categories-box-outer">
                    <div class="categories-box">
                        <img src="~/Resources/img/icon_category_beauty.png" />
                        <p>Beauty Girls</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 categories-box-outer">
                    <div class="categories-box">
                        <img src="~/Resources/img/icon_category_karaoke.png" />
                        <p>Karaoke Online</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 categories-box-outer">
                    <div class="categories-box">
                        <img src="~/Resources/img/icon_category_game.png" />
                        <p>Game & Cosplay</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input id="determiner" style="visibility:hidden" type="text" value="others" />