<!DOCTYPE html>
<html>
<head>
    <title>Live Stream</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link href="~/Resources/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Themify Icons -->
    <link href="~/Resources/css/themify-icons.css" rel="stylesheet" />
    <!-- Owl carousel -->
    <link href="~/Resources/css/owl.carousel.min.css" rel="stylesheet" />
    <!-- Main css -->
    <link href="~/Resources/css/style.css" rel="stylesheet" />
</head>
<body>

    @RenderBody()


    <footer class="my-5 text-center">
        <small>
            <a href="#" class="m-2">HELP</a>
            <a href="#" class="m-2">CONTACT</a>
            <a href="#" class="m-2">FORUM</a>
            <a href="#" class="m-2">TERMS</a>
            <a href="#" class="m-2">PRIVACY</a>
        </small>

        <p class="mb-2"><small>COPYRIGHT © 2018. ALL RIGHTS RESERVED.</small></p>

        <div class="social-icons">
            <a href="#"><span class="ti-facebook"></span></a>
            <a href="#"><span class="ti-twitter-alt"></span></a>
            <a href="#"><span class="ti-instagram"></span></a>
        </div>
    </footer>


    <!-- jQuery and Bootstrap -->
    <script src="~/Resources/js/jquery-3.2.1.min.js"></script>
    <script src="~/Resources/js/bootstrap.bundle.min.js"></script>
    <!-- Plugins JS -->
    <script src="~/Resources/js/owl.carousel.min.js"></script>
    <!-- Custom JS -->
    <script src="~/Resources/js/script.js"></script>
</body>
</html>
