@{
    Layout = null;
}

<head>
    <!-- Meta Tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Resources/img/icons/favicon.ico" />

    <!-- Title Page-->
    <title>Live Stream</title>

    <!-- Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="~/Resources/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Resources/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Resources/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Resources/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/Resources/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Resources/vendor/daterangepicker/daterangepicker.css">

    <!-- Fontfaces CSS-->
    <link rel="stylesheet" type="text/css" href="~/Resources/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Resources/fonts/iconic/css/material-design-iconic-font.min.css">

    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="~/Resources/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Resources/css/main.css">
</head>
<body>

    <div class="limiter">
        <div class="container-login" style="background-image: url('../../Resources/img/bg.jpeg');">
            <div class="wrap-login">
                <form class="login100-form validate-form">
                    @*<span class="login100-form-logo">
            <img src="~/Resources/images/liberta-logo-short.jpg" style="height:150px" />
        </span>*@
                    <h1 class="text-center">LIVE STREAM</h1>



                    <span class="login100-form-title p-b-34 p-t-27">
                        Register
                    </span>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="text" name="email" placeholder="Email">
                        <span class="focus-input100" data-placeholder="&#xf15a;"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="text" name="username" placeholder="Username">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="password" name="pass" placeholder="Password">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="password" name="passconfirm" placeholder="Confirm Password">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Register
                        </button>
                    </div>

                    <div class="text-center" style="margin-top:10px;">
                        <p class="text-black">Already have an account? <a class="text-black" href="/login/index">Log in</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!-- Jquery JS-->
    <script src="~/Resources/vendor/jquery/jquery-3.2.1.min.js"></script>

    <!-- Vendor JS-->
    <script src="~/Resources/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/Resources/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Resources/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Resources/vendor/select2/select2.min.js"></script>
    <script src="~/Resources/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Resources/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/Resources/vendor/countdowntime/countdowntime.js"></script>

    <!-- Main JS-->
    <script src="~/Resources/js/main.js"></script>

</body>