<div class="nav-menu fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-light navbar-expand-lg">
                    <a class="navbar-brand text-black" href="home/index">LIVE STREAM</a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"> <a id="nav-home" class="nav-link text-black" href="/home/index">HOME <span class="sr-only">(current)</span></a> </li>
                            <li class="nav-item"> <a id="nav-rooms" class="nav-link text-black" href="/rooms/index">ROOMS</a> </li>
                            <li class="nav-item"> <a id="nav-leaderboard" class="nav-link text-black" href="/leaderboard/index">LEADERBOARDS</a> </li>
                            <li class="nav-item"> <a id="nav-store" class="nav-link text-black active" href="/store/index">STORE</a> </li>
                            <li class="nav-item"> <a id="nav-forum" class="nav-link text-black" href="#">FORUM</a> </li>
                            <li class="nav-item"><a id="btnLogin" href="/login/index" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3 btn-login">Login</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="section" id="pricing" style="margin-top:20px">
    <div class="container">
        <div class="section-title">
            <h3>LIVE STREAM VIRTUAL STORE</h3>
            <span>Buy coins to give your favourite hosts gifts.</span>
        </div>

        <div class="card-deck">
            <div class="card pricing popular store-height">
                <div class="card-head">
                    <img src="~/Resources/img/coin-1.png" />
                    <span class="price">550 Coins</span>
                    <h5 class="text-primary">IDR 50.000</h5>
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-primary btn-lg btn-block btn-grey">Buy</a>
                </div>
            </div>
            <div class="card pricing popular store-height">
                <div class="card-head">
                    <img src="~/Resources/img/coin-2.png" />
                    <span class="price">1.100 Coins</span>
                    <h5 class="text-primary">IDR 100.000</h5>
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-primary btn-lg btn-block btn-grey">Buy</a>
                </div>
            </div>
            <div class="card pricing popular store-height">
                <div class="card-head">
                    <img src="~/Resources/img/coin-3.png" />
                    <span class="price">2.200 Coins</span>
                    <h5 class="text-primary">IDR 200.000</h5>
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-primary btn-lg btn-block btn-grey">Buy</a>
                </div>
            </div>
        </div>
        <div class="card-deck" style="margin-top:40px">
            <div class="card pricing popular store-height">
                <div class="card-head">
                    <img src="~/Resources/img/coin-4.png" />
                    <span class="price">5.500 Coins</span>
                    <h5 class="text-primary">IDR 500.000</h5>
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-primary btn-lg btn-block btn-grey">Buy</a>
                </div>
            </div>
            <div class="card pricing popular store-height">
                <div class="card-head">
                    <img src="~/Resources/img/coin-5.png" />
                    <span class="price">11.000 Coins</span>
                    <h5 class="text-primary">IDR 1.000.000</h5>
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-primary btn-lg btn-block btn-grey">Buy</a>
                </div>
            </div>
            <div class="card pricing popular store-height">
                <div class="card-head">
                    <img src="~/Resources/img/coin-6.png" />
                    <span class="price">55.000 Coins</span>
                    <h5 class="text-primary">IDR 5.000.000</h5>
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-primary btn-lg btn-block btn-grey">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>

<input id="determiner" style="visibility:hidden" type="text" value="others" />